.PersonList {
  flex-direction: column;
} 

.PersonList button {
  color: #282c34;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.AddBdayBtn {
  background-color: #06d6a0;
}