.Header {
  background-color: #282c34;
  /* margin-bottom: 40px; */
  /* border-style: dotted;
  border-color: blue; */
}

.Header h1 {
  color: #e8eddf;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

@media all and (min-width: 600px) {
  .Header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  .Header h1 {
    margin: 14px 0;
    padding-top: 0;
  }
}