.Dashboard {
  height: 100%;
  align-content: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.Dashboard ul {
  padding: 0 10px;
}

@media all and (min-width: 600px) {
  .Dashboard ul {
    padding: 0 100px;
  }
}