.AddGiftForm {
  display: inline-block;
}

label {
  width: 150px; 
  float: left;
  padding: 10px;
  margin: 10px;
}

.field {
  width: 500px; 
  padding: 3px;  
}

.AddGift button {
  width: 100%;
  /* background-color: #f5cb5c; */
  color: #282c34;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
