.AddGiftForm {
  display: inline-block;
}

label {
  width: 150px; 
  float: left;
  padding: 10px;
  margin: 10px;
}

.AddGift button {
  width: 75%;
  color: #282c34;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

input[type=submit]{
  width: 75%;
}

@media all and (min-width: 600px) {
  .AddGift button {
    width: 100%;
  }

  .field {
  width: 500px; 
  padding: 3px;  
  }

  input[type=submit] {
    width: 100%;
  }
}