.DashboardTile {
  display: flex;
  height: 15%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px

}

.Buttons {
  flex: 1;
  display: inline;
  margin: 10px
}

.DashboardTile button {
  margin: 10px;
  padding: 10px;
}

.DashboardItem {
  min-width: 200px;
  margin: 10px;
  display: inline-block;
}

.DashboardItem li {
  margin: 0 auto;
} 

.DashboardTile {
  padding: 25px;
  flex: 1;
  display: inline;
}