/* .DashboardTile { */
  /* display: inline; */
  /* flex: 1; */
  /* height: 15%; */
  /* width: 75%; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-top: 5px; */
  /* margin-bottom: 5px; */
  /* padding: 10px */
/* } */

.DashboardTile {
  flex-direction: row;
  flex: 1;
  /* display: inline; */
}
 
/* .Buttons { */
  /* flex: 1; */
  /* display: inline; */
  /* margin: 10px; */
  /* float: right; */
/* } */

.DashboardTile button {
  margin: 10px;
  padding: 10px;
  color: #282c34;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.DashboardItem {
  min-width: 200px;
  margin: 10px;
  display: inline-block;
}

.DashboardItem li {
  margin: 0 auto;
} 

.DashboardTile ul li:nth-child(even) {
  background-color: #FFEDC2;
}
