/* .Home {
  border-style: dotted;
  border-color: red;
} */

.Home button {
  width: 25%;
  background-color: #ff6f59;
  color: #282c34;
  padding: 14px 20px;
  margin: 8px 10px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.Home {
  width: 65%;
  display: inline-block;
}