.Home button {

  background-color: #06d6a0;
  color: #282c34;
  
  margin: 8px 10px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 45%;
  padding: 10px 5px;
  overflow-wrap: break-word;
}

.text-link {
  color: inherit;
  text-decoration: inherit;
}

.Home {
  width: 65%;
  display: inline-block;
}

@media all and (min-width: 600px) {
  .Home button {
    width: 25%;
    padding: 14px 20px;
  }
}