.About {
  padding: 15px;
  display: inline-block;
}

.About li {
  text-align: left;
}

.About ol {
  padding: 25px;
  margin: 25px;
}

@media all and (min-width: 600px) {
  .About {
    width: 65%;
  }
}