.Person {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-content: center;
}
 
.Person li {
  margin: 0 auto;
} 

.PersonDetails {
  padding: 25px;
  flex: 1;
  display: inline;
}

.item2 {
  min-width: 150px;
  display: inline-block;
}

.Buttons {
  flex: 1;
  display: inline;
}

.Person button {
  margin: 10px;
  padding: 10px;
}
