.AddPersonForm {
  display: inline-block;
}

label {
  width: 150px; 
  float: left;
  padding: 10px;
  margin: 10px;
}

.AddPerson button {
  width: 75%;
  color: #282c34;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media all and (min-width: 600px) {
  .Person li {
    margin: 0 auto;
  }

  .AddPerson button {
    width: 100%;
  }

  input[type=submit] {
    width: 100%;
  }
}
