.AddPersonForm {
  display: inline-block;
}

label {
  width: 150px; 
  float: left;
  padding: 10px;
  margin: 10px;
}

.field {
  width: 500px; 
  padding: 3px;  
}

/* input {
  padding: 12px 20px;
  margin: 10px 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

/* input[type=submit] {
  width: 50%;
  background-color: #f5cb5c;
  color: #282c34;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

.AddPerson button {
  width: 100%;
  /* background-color: #f5cb5c; */
  color: #282c34;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
