.GiftListItem {
  display: flex;
  justify-content: center;
}

.GiftListItem ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.GiftListItem button {
  margin: 10px
}

.GiftListItem {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-content: center;
}
 
.GiftListItem li {
  margin: 0 auto;
} 

.PersonDetails {
  padding: 25px;
  flex: 1;
  display: inline;
}

.item2 {
  min-width: 150px;
  display: inline-block;
}

.Buttons {
  flex: 1;
  display: inline;
}

.GiftListItem button {
  margin: 10px;
  padding: 10px;
}
