.GiftListItem {
  display: flex;
  justify-content: center;
  /* border-style: dotted;
  border-color: yellowgreen; */
}

.GiftListItem ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.GiftListItem ul li {
  text-decoration: none;
  margin: 0 20px 0 0;
}

.GiftListItem button {
  margin: 10px
}