li {
  list-style: none;
}

.GiftList {
  display: flex; 
  flex-direction: column;
}
 
.GiftList ul {
  margin: 0 auto;
} 

.GiftListItem ul {
  text-decoration: none;
  margin: 0 20px 0 0;
} 

.GiftList {
  padding: 25px;
  flex: 1;
  display: inline;
}

.item2 {
  min-width: 150px;
  display: inline-block;
  text-align: left;
}

.Buttons {
  flex: 1;
  display: inline;
}

.GiftList button {
  margin: 10px;
  padding: 10px;
  color: #282c34;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.GiftList li {
  padding: 0 10px;
}

.GiftList li:nth-child(even) {
  background-color: #FFEDC2;
}

@media all and (min-width: 600px) {
  .GiftList li {
    padding: 0 100px;
  }
}